<a href="https://colab.research.google.com/github/ShanChartrand/NECDataCleaning/blob/main/NEC_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
!pip install pandas
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/ShanChartrand/NECDataCleaning/main/necoriginal.csv')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [55]:
# Read the North End Connect data file

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import io
import requests

url="https://raw.githubusercontent.com/ShanChartrand/NECDataCleaning/main/necoriginal.csv"
s=requests.get(url).content
necoriginal=pd.read_csv(io.StringIO(s.decode('utf-8')))

# Display a few rows of the data to ensure the file is connected correctly

display(necoriginal.head(10))

,TEST ID,TEST DATE / UTC HOUR,GEO LATITUDE,GEO LONGITUDE,DOWNLOAD SPEED,UPLOAD SPEED,JITTER,LATENCY,PACKET LOSS,MOBILE TEST,...,CONTRACTED UPLOAD SPEED,CONTRACTED DATA CAP,CONTRACTED MONTHLY COST,SERVICE TYPE,USER SATISFACTION,CONNECTION TYPE,USER COMMENTS,HEATMAP_MUNICIPALITY,HEATMAP_CENSUS_TRACTS,HEATMAP_PROJECT_AREA
0,261,2015-05-23 10:00:13,49.869556,-97.296739,16.22,2.79,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020537.02,NaN
1,284,2015-05-20 10:01:05,49.852738,-97.270058,14.89,2.74,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020522.02,NaN
2,622,2015-05-19 10:00:28,49.887575,-97.140091,9.89,5.64,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020014.00,NaN
3,701,2015-05-24 10:00:08,49.814284,-97.160235,10.62,2.09,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020501.02,NaN
4,707,2015-05-19 10:00:19,49.882706,-97.161829,9.89,2.60,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020016.00,NaN
5,765,2015-05-19 10:00:21,49.897501,-97.136397,10.53,0.70,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020024.00,NaN
6,831,2015-05-16 10:00:30,49.946880,-97.058317,5.79,0.56,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020142.02,NaN
7,972,2015-05-16 10:00:33,49.878963,-97.158439,5.79,0.81,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020015.00,NaN
8,1110,2015-05-19 10:00:23,49.846671,-97.257653,1.88,1.81,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020522.02,NaN
9,1147,2015-05-20 10:01:16,49.937924,-97.118305,10.58,2.76,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winnipeg,6020551.00,NaN

Confirming the number of rows and columns, respectively

In [56]:
necoriginal.shape

(19928, 31)

Having trouble locating/executing csv file in here. Checking to see the working directory

In [57]:
import os
print(os.getcwd())

/content

Checking for duplicates in the TEST ID column

In [58]:
# Count the number of duplicated TEST ID values
num_duplicates = df.duplicated(subset='TEST ID', keep=False).sum()

# Print the number of duplicates
print(f"There are {num_duplicates} rows with duplicated TEST ID values.")

There are 0 rows with duplicated TEST ID values.

Looking for duplicate rows

In [59]:
# Find duplicate rows based on all columns
duplicates = df[df.duplicated()]

# Display the duplicate rows (if any)
if len(duplicates) > 0:
    print(f"Found {len(duplicates)} duplicate rows:")
    print(duplicates)
else:
    print("No duplicate rows found.")

No duplicate rows found.

Checking to see how many missing cells in the CLIENT CITY column

In [60]:
df = pd.read_csv('https://raw.githubusercontent.com/ShanChartrand/NECDataCleaning/main/necoriginal.csv')

missing_cells = df['CLIENT CITY'].isnull().sum()

print(missing_cells)

55

Using Longitude and Latitude to fill in the missing CLIENT CITY cells

In [61]:
import pandas as pd
from geopy.geocoders import Nominatim

# Load the CSV file into a Pandas DataFrame
df = pd.read_csv('https://raw.githubusercontent.com/ShanChartrand/NECDataCleaning/main/necoriginal.csv')

# Create a geolocator object
geolocator = Nominatim(user_agent="my-app")

# Define a function to perform reverse geocoding and return the city name
def reverse_geocode(lat, lon):
    location = geolocator.reverse(f"{lat}, {lon}")
    return location.raw['address']['city'] if 'city' in location.raw['address'] else None

# Fill in missing CLIENT CITY values using reverse geocoding
df['CLIENT CITY'] = df.apply(lambda row: reverse_geocode(row['GEO LATITUDE'], row['GEO LONGITUDE']) if pd.isnull(row['CLIENT CITY']) else row['CLIENT CITY'], axis=1)

# Save the updated DataFrame to a new CSV file
df.to_csv('https://raw.githubusercontent.com/ShanChartrand/NECDataCleaning/main/necoriginal.csv', index=False)

#Confirming there are no missing values
missing_cells = df['CLIENT CITY'].isnull().sum()

print(missing_cells)

0

Searching for CLIENT CITY names that do not match the format "Winnipeg"

In [62]:
# check if any values in CLIENT CITY column contain uppercase letters
print(df[df['CLIENT CITY'].str.contains('[A-Z]')])

# check if any values in CLIENT CITY column contain lowercase letters
print(df[df['CLIENT CITY'].str.contains('[a-z]')])

# check if any values in CLIENT CITY column contain abbreviations
print(df[df['CLIENT CITY'].str.contains('\.')])

       TEST ID TEST DATE / UTC HOUR  GEO LATITUDE  GEO LONGITUDE  \
0          261  2015-05-23 10:00:13     49.869556     -97.296739
1          284  2015-05-20 10:01:05     49.852738     -97.270058
2          622  2015-05-19 10:00:28     49.887575     -97.140091
3          701  2015-05-24 10:00:08     49.814284     -97.160235
4          707  2015-05-19 10:00:19     49.882706     -97.161829
...        ...                  ...           ...            ...
19923  1662931  2023-04-05 16:15:48     49.951400     -97.113300
19924  1662951  2023-04-05 16:47:50     49.919200     -97.126300
19925  1663043  2023-04-05 22:54:16     49.896022     -96.974594
19926  1663045  2023-04-05 22:55:08     49.896022     -96.974594
19927  1663076  2023-04-06 02:06:32     49.895063     -97.138646

       DOWNLOAD SPEED  UPLOAD SPEED  JITTER  LATENCY  PACKET LOSS  \
0               16.22          2.79     NaN      NaN          NaN
1               14.89          2.74     NaN      NaN          NaN
2                9.89          5.64     NaN      NaN          NaN
3               10.62          2.09     NaN      NaN          NaN
4                9.89          2.60     NaN      NaN          NaN
...               ...           ...     ...      ...          ...
19923           49.58         16.34    6.79    66.70         0.00
19924           36.47          4.64    0.22    37.91         9.81
19925          329.08        325.71    1.86    28.00         0.00
19926          353.63        412.06    1.21    24.06         0.00
19927           84.27          5.31    1.21    57.63        16.49

       MOBILE TEST  ... CONTRACTED UPLOAD SPEED CONTRACTED DATA CAP  \
0            False  ...                     NaN                 NaN
1            False  ...                     NaN                 NaN
2            False  ...                     NaN                 NaN
3            False  ...                     NaN                 NaN
4            False  ...                     NaN                 NaN
...            ...  ...                     ...                 ...
19923        False  ...                     NaN                 NaN
19924        False  ...                     NaN                 NaN
19925         True  ...                    1000           Unlimited
19926         True  ...                    1000           Unlimited
19927        False  ...                     NaN                 NaN

      CONTRACTED MONTHLY COST SERVICE TYPE USER SATISFACTION CONNECTION TYPE  \
0                         NaN          NaN               NaN             NaN
1                         NaN          NaN               NaN             NaN
2                         NaN          NaN               NaN             NaN
3                         NaN          NaN               NaN             NaN
4                         NaN          NaN               NaN             NaN
...                       ...          ...               ...             ...
19923                     NaN          NaN               NaN             NaN
19924                     NaN          NaN               NaN             NaN
19925                     120         Home               2.0           Fibre
19926                     120         Home               2.0           Fibre
19927                     NaN          NaN               NaN             NaN

       USER COMMENTS  HEATMAP_MUNICIPALITY HEATMAP_CENSUS_TRACTS  \
0                NaN              Winnipeg            6020537.02
1                NaN              Winnipeg            6020522.02
2                NaN              Winnipeg            6020014.00
3                NaN              Winnipeg            6020501.02
4                NaN              Winnipeg            6020016.00
...              ...                   ...                   ...
19923            NaN              Winnipeg            6020553.00
19924            NaN              Winnipeg            6020041.00
19925           None              Winnipeg            6020120.05
19926           None              Winnipeg            6020120.05
19927            NaN              Winnipeg            6020013.00

      HEATMAP_PROJECT_AREA
0                      NaN
1                      NaN
2                      NaN
3                      NaN
4                      NaN
...                    ...
19923                  NaN
19924                  R2W
19925                  NaN
19926                  NaN
19927                  NaN

[19928 rows x 31 columns]
       TEST ID TEST DATE / UTC HOUR  GEO LATITUDE  GEO LONGITUDE  \
0          261  2015-05-23 10:00:13     49.869556     -97.296739
1          284  2015-05-20 10:01:05     49.852738     -97.270058
2          622  2015-05-19 10:00:28     49.887575     -97.140091
3          701  2015-05-24 10:00:08     49.814284     -97.160235
4          707  2015-05-19 10:00:19     49.882706     -97.161829
...        ...                  ...           ...            ...
19923  1662931  2023-04-05 16:15:48     49.951400     -97.113300
19924  1662951  2023-04-05 16:47:50     49.919200     -97.126300
19925  1663043  2023-04-05 22:54:16     49.896022     -96.974594
19926  1663045  2023-04-05 22:55:08     49.896022     -96.974594
19927  1663076  2023-04-06 02:06:32     49.895063     -97.138646

       DOWNLOAD SPEED  UPLOAD SPEED  JITTER  LATENCY  PACKET LOSS  \
0               16.22          2.79     NaN      NaN          NaN
1               14.89          2.74     NaN      NaN          NaN
2                9.89          5.64     NaN      NaN          NaN
3               10.62          2.09     NaN      NaN          NaN
4                9.89          2.60     NaN      NaN          NaN
...               ...           ...     ...      ...          ...
19923           49.58         16.34    6.79    66.70         0.00
19924           36.47          4.64    0.22    37.91         9.81
19925          329.08        325.71    1.86    28.00         0.00
19926          353.63        412.06    1.21    24.06         0.00
19927           84.27          5.31    1.21    57.63        16.49

       MOBILE TEST  ... CONTRACTED UPLOAD SPEED CONTRACTED DATA CAP  \
0            False  ...                     NaN                 NaN
1            False  ...                     NaN                 NaN
2            False  ...                     NaN                 NaN
3            False  ...                     NaN                 NaN
4            False  ...                     NaN                 NaN
...            ...  ...                     ...                 ...
19923        False  ...                     NaN                 NaN
19924        False  ...                     NaN                 NaN
19925         True  ...                    1000           Unlimited
19926         True  ...                    1000           Unlimited
19927        False  ...                     NaN                 NaN

      CONTRACTED MONTHLY COST SERVICE TYPE USER SATISFACTION CONNECTION TYPE  \
0                         NaN          NaN               NaN             NaN
1                         NaN          NaN               NaN             NaN
2                         NaN          NaN               NaN             NaN
3                         NaN          NaN               NaN             NaN
4                         NaN          NaN               NaN             NaN
...                       ...          ...               ...             ...
19923                     NaN          NaN               NaN             NaN
19924                     NaN          NaN               NaN             NaN
19925                     120         Home               2.0           Fibre
19926                     120         Home               2.0           Fibre
19927                     NaN          NaN               NaN             NaN

       USER COMMENTS  HEATMAP_MUNICIPALITY HEATMAP_CENSUS_TRACTS  \
0                NaN              Winnipeg            6020537.02
1                NaN              Winnipeg            6020522.02
2                NaN              Winnipeg            6020014.00
3                NaN              Winnipeg            6020501.02
4                NaN              Winnipeg            6020016.00
...              ...                   ...                   ...
19923            NaN              Winnipeg            6020553.00
19924            NaN              Winnipeg            6020041.00
19925           None              Winnipeg            6020120.05
19926           None              Winnipeg            6020120.05
19927            NaN              Winnipeg            6020013.00

      HEATMAP_PROJECT_AREA
0                      NaN
1                      NaN
2                      NaN
3                      NaN
4                      NaN
...                    ...
19923                  NaN
19924                  R2W
19925                  NaN
19926                  NaN
19927                  NaN

[19928 rows x 31 columns]
      TEST ID TEST DATE / UTC HOUR  GEO LATITUDE  GEO LONGITUDE  \
97       6270  2015-05-22 10:00:26     49.906871     -97.026015
352     19885  2015-05-22 10:00:24     49.906871     -97.026015
369     20526  2015-05-22 10:00:26     49.906871     -97.026015
448     25560  2015-05-22 10:00:26     49.906871     -97.026015
640     35792  2015-05-22 10:00:26     49.906871     -97.026015
643     35909  2015-05-22 10:00:24     49.906871     -97.026015
891     48688  2015-05-22 10:00:26     49.906871     -97.026015
1001    54427  2015-05-22 10:00:26     49.906871     -97.026015
1101    60099  2015-05-22 10:00:26     49.906871     -97.026015
1281    69464  2015-05-22 10:00:25     49.906871     -97.026015
2571   361270  2016-01-18 20:35:20     49.923156     -97.133518

      DOWNLOAD SPEED  UPLOAD SPEED  JITTER  LATENCY  PACKET LOSS  MOBILE TEST  \
97             13.83          2.74     NaN      NaN          NaN        False
352            19.55          2.81     NaN      NaN          NaN        False
369            15.00          2.76     NaN      NaN          NaN        False
448             7.44          2.72     NaN      NaN          NaN        False
640            14.53          2.78     NaN      NaN          NaN        False
643            18.34          2.79     NaN      NaN          NaN        False
891             7.07          2.79     NaN      NaN          NaN        False
1001            9.30          2.67     NaN      NaN          NaN        False
1101           15.32          2.81     NaN      NaN          NaN        False
1281           12.78          2.77     NaN      NaN          NaN        False
2571           10.42          0.83     NaN      NaN          NaN        False

      ... CONTRACTED UPLOAD SPEED CONTRACTED DATA CAP CONTRACTED MONTHLY COST  \
97    ...                     NaN                 NaN                     NaN
352   ...                     NaN                 NaN                     NaN
369   ...                     NaN                 NaN                     NaN
448   ...                     NaN                 NaN                     NaN
640   ...                     NaN                 NaN                     NaN
643   ...                     NaN                 NaN                     NaN
891   ...                     NaN                 NaN                     NaN
1001  ...                     NaN                 NaN                     NaN
1101  ...                     NaN                 NaN                     NaN
1281  ...                     NaN                 NaN                     NaN
2571  ...                     NaN                 NaN                     NaN

     SERVICE TYPE USER SATISFACTION CONNECTION TYPE  USER COMMENTS  \
97            NaN               NaN             NaN            NaN
352           NaN               NaN             NaN            NaN
369           NaN               NaN             NaN            NaN
448           NaN               NaN             NaN            NaN
640           NaN               NaN             NaN            NaN
643           NaN               NaN             NaN            NaN
891           NaN               NaN             NaN            NaN
1001          NaN               NaN             NaN            NaN
1101          NaN               NaN             NaN            NaN
1281          NaN               NaN             NaN            NaN
2571          NaN               NaN             NaN            NaN

      HEATMAP_MUNICIPALITY HEATMAP_CENSUS_TRACTS HEATMAP_PROJECT_AREA
97                Winnipeg            6020140.04                  NaN
352               Winnipeg            6020140.04                  NaN
369               Winnipeg            6020140.04                  NaN
448               Winnipeg            6020140.04                  NaN
640               Winnipeg            6020140.04                  NaN
643               Winnipeg            6020140.04                  NaN
891               Winnipeg            6020140.04                  NaN
1001              Winnipeg            6020140.04                  NaN
1101              Winnipeg            6020140.04                  NaN
1281              Winnipeg            6020140.04                  NaN
2571              Winnipeg            6020042.00                  R2W

[11 rows x 31 columns]

In [63]:
import pandas as pd


# Define a function to check if a string is in the correct format
def is_correct_format(s):
    # Check if the string is not empty or null, and is not an abbreviation
    if s and len(s) > 2:
        # Check if the first letter is uppercase and the rest are lowercase
        if s[0].isupper() and s[1:].islower():
            return True
    return False

# Create a boolean mask to find rows where the CLIENT CITY column is not in the correct format
mask = ~df['CLIENT CITY'].apply(is_correct_format)

# Filter the dataframe to show only rows where CLIENT CITY is not in the correct format
filtered_df = df[mask]

# Display the filtered dataframe
print(filtered_df.loc[:, 'CLIENT CITY'])

print(is_correct_format)

97       Sault Ste. Marie
352      Sault Ste. Marie
363             Moose Jaw
369      Sault Ste. Marie
448      Sault Ste. Marie
               ...
15811         Thunder Bay
16109     Heritage Pointe
16110     Heritage Pointe
16742         Cooks Creek
16857           Moose Jaw
Name: CLIENT CITY, Length: 118, dtype: object
<function is_correct_format at 0x7f5c9aa57e20>

Using CLIENT CITY to fill in missing CLIENT PROVINCE values - this code will use the same format as CLIENT PROVINCE

In [64]:
df['CLIENT PROVINCE'].fillna(df['CLIENT CITY'].str.split(',').str[-1], inplace=True)

# Save the updated DataFrame to a new CSV file
df.to_csv('https://raw.githubusercontent.com/ShanChartrand/NECDataCleaning/main/necoriginal.csv', index=False)

Confirming the CLIENT CITY & CLIENT PROVINCE have no missing values

In [65]:
# Calculate the percentage of missing cells in each column
missing_percentages = df.isna().sum() / len(df) * 100

# Print the result
print(missing_percentages)

TEST ID                       0.000000
TEST DATE / UTC HOUR          0.000000
GEO LATITUDE                  0.000000
GEO LONGITUDE                 0.000000
DOWNLOAD SPEED                0.000000
UPLOAD SPEED                  0.000000
JITTER                       40.395424
LATENCY                      40.395424
PACKET LOSS                  40.395424
MOBILE TEST                   0.000000
ISP                           0.005018
CLIENT IP                     0.000000
CLIENT CITY                   0.000000
CLIENT PROVINCE               0.000000
CLIENT POSTAL CODE            0.130470
AS NUMBER                     0.105379
IPV6 SUPPORTED                0.000000
DNSSEC SUPPORTED              0.000000
TEST SERVER                   0.000000
browser_test_url             34.704938
CONTRACTED DOWNLOAD SPEED    81.413087
CONTRACTED UPLOAD SPEED      88.237656
CONTRACTED DATA CAP          92.377559
CONTRACTED MONTHLY COST      83.611000
SERVICE TYPE                 78.577880
USER SATISFACTION            83.470494
CONNECTION TYPE              92.352469
USER COMMENTS                75.165596
HEATMAP_MUNICIPALITY          0.000000
HEATMAP_CENSUS_TRACTS         0.000000
HEATMAP_PROJECT_AREA         94.831393
dtype: float64

In [66]:
!pip install IPWhois

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: IPWhois in /usr/local/lib/python3.10/dist-packages (1.2.0)
Requirement already satisfied: dnspython<=2.0.0 in /usr/local/lib/python3.10/dist-packages (from IPWhois) (2.0.0)

In [67]:
from ipwhois import IPWhois

Standardizing all CLIENT CITY names e.g. Winnipeg

In [68]:
import pandas as pd

# Read the CSV file into a Pandas DataFrame
df = pd.read_csv('https://raw.githubusercontent.com/ShanChartrand/NECDataCleaning/main/necoriginal.csv')

# Check for unique values in the CLIENT CITY column
cities = df['CLIENT CITY'].unique()

# Print the unique values
print(cities)

# Clean up the city names
df['CLIENT CITY'] = df['CLIENT CITY'].str.title()  # Capitalize the first letter of each word
df['CLIENT CITY'] = df['CLIENT CITY'].str.strip()  # Remove leading/trailing white spaces

# Check for unique values again
cities_cleaned = df['CLIENT CITY'].unique()

# Save the updated dataframe to a new CSV file
df.to_csv('https://raw.githubusercontent.com/ShanChartrand/NECDataCleaning/main/necoriginal.csv', index=False)

# Print the unique cleaned values
print(cities_cleaned)

['Winnipeg' nan 'Gimli' 'Sault Ste. Marie' 'Calgary' 'Moose Jaw' 'Winkler'
 'Ottawa' 'Greater Sudbury' 'North York' 'Edmonton' 'Vancouver' 'Guelph'
 'Winnipeg (Portage & Main)' 'Hamilton' 'Surrey' 'Notre Dame de Lourdes'
 'Winnipeg (Tuxedo Industrials)' 'Barrie' 'Woodstock'
 'Toronto (Etobicoke)' 'Creemore' 'Alliston' 'Calgary (Downtown)'
 'St. Catharines' 'Toronto' 'Selkirk' 'Oak Bay' 'London' 'Kitchener'
 'Wawanesa' 'Cambridge' 'Brantford' 'Nobleton' 'Beauharnois'
 'Portage la Prairie' 'Roland' 'Caledon' 'Waterloo' 'Concord'
 'Mississauga' 'Port Perry' 'Orangeville' 'Stony Mountain' 'Oakville'
 'Brampton' 'Montreal' 'Toronto (Old Toronto)' 'Winnipeg (Downtown)'
 'Angus' 'Thompson' 'Wabowden' 'Winnipeg (Sir John Franklin)'
 'Winnipeg (Earl Grey)' 'Winnipeg (Kildare - Redonda)' 'Miami'
 'Scarborough' 'Carman' 'Saint-Quentin' 'La Salle' 'Oakbank' 'Marathon'
 'Georgetown' 'Port Hope' 'Thorold' 'Old Toronto' 'Blackstock' 'Lindsay'
 'Charlemagne' 'Steinbach' 'Etobicoke' 'Brandon' 'Marchand' "Baie-d'Urfe"
 'Stonewall' 'Markdale' 'Hartland' 'Kenora' 'Dowling' 'Bradford' 'Dryden'
 'Regina' 'Thunder Bay' 'Sydney' 'Heritage Pointe' 'Cobourg' 'Cooks Creek'
 'Teulon' 'Headingley' 'Hague' 'Markham' 'Chestermere' 'Peterborough']
['Winnipeg' nan 'Gimli' 'Sault Ste. Marie' 'Calgary' 'Moose Jaw' 'Winkler'
 'Ottawa' 'Greater Sudbury' 'North York' 'Edmonton' 'Vancouver' 'Guelph'
 'Winnipeg (Portage & Main)' 'Hamilton' 'Surrey' 'Notre Dame De Lourdes'
 'Winnipeg (Tuxedo Industrials)' 'Barrie' 'Woodstock'
 'Toronto (Etobicoke)' 'Creemore' 'Alliston' 'Calgary (Downtown)'
 'St. Catharines' 'Toronto' 'Selkirk' 'Oak Bay' 'London' 'Kitchener'
 'Wawanesa' 'Cambridge' 'Brantford' 'Nobleton' 'Beauharnois'
 'Portage La Prairie' 'Roland' 'Caledon' 'Waterloo' 'Concord'
 'Mississauga' 'Port Perry' 'Orangeville' 'Stony Mountain' 'Oakville'
 'Brampton' 'Montreal' 'Toronto (Old Toronto)' 'Winnipeg (Downtown)'
 'Angus' 'Thompson' 'Wabowden' 'Winnipeg (Sir John Franklin)'
 'Winnipeg (Earl Grey)' 'Winnipeg (Kildare - Redonda)' 'Miami'
 'Scarborough' 'Carman' 'Saint-Quentin' 'La Salle' 'Oakbank' 'Marathon'
 'Georgetown' 'Port Hope' 'Thorold' 'Old Toronto' 'Blackstock' 'Lindsay'
 'Charlemagne' 'Steinbach' 'Etobicoke' 'Brandon' 'Marchand' "Baie-D'Urfe"
 'Stonewall' 'Markdale' 'Hartland' 'Kenora' 'Dowling' 'Bradford' 'Dryden'
 'Regina' 'Thunder Bay' 'Sydney' 'Heritage Pointe' 'Cobourg' 'Cooks Creek'
 'Teulon' 'Headingley' 'Hague' 'Markham' 'Chestermere' 'Peterborough']